<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FatecHub</title>
    <link rel="stylesheet" href="css/index_style.css">
</head>

<body>
    <div class="barra-superior">
        <div class="row">
            <img src="" alt="imagem de logo do projeto">
            <h1>FatecHub</h1>
        </div>

        <div class="row">
            <h3>Como Funciona</h3>
            <h3>Categorias</h3>

            <button type="button" class="botao">Entrar</button>
        </div>
    </div>

    <section>
        <div class="banner-topo">
            <div>
                <span class="">Feito por alunos, para alunos da Fatec Santos</span>
            </div>
            <div>
                <h1>Troque serviços com quem entende<br>o que você precisa</h1>
            </div>
            <div>
                <p>Aula particular, revisão de trabalho, design, freela de código. Tudo dentro do ecossistema da sua
                    turma.</p>
            </div>
            <div class="inline">
                <button type="button">Oferecer um serviço</button>
                <button type="button">Explorar serviços</button>
            </div>
        </div>

        <div class="inline cards">
            <div class="">
                <div class=""> <!--adicionar icone svg de livro--> </div>
                <h3>Aulas particulares</h3>
                <p>Cálculo, lógica, redes e mais</p>
            </div>
            <div class="">
                <div class=""><!--adicionar icone svg de computador--></div>
                <h3>Freelas de dev</h3>
                <p>Sites, apps, scripts</p>
            </div>
            <div class="">
                <div class=""><!--adicionar icone svg de paleta --></div>
                <h3>Design</h3>
                <p>Logo, artes, apresentações</p>
            </div>
        </div>
    </section>

    <section></section>


    <script src="js/index.js"></script>
</body>

</html>