.body-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    /* empilha o logo em cima e o form embaixo */
}

html,
body {
    height: 100%;
}



/* barra superior */

#logo {
    text-decoration: none;
    color: black;
}

/* barra superior */

/* form */

.form {
    flex: 1;
    /* ocupa todo o espaço restante depois do logo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-form {
    padding: 25px;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 16px;
    max-width: 350px;
}

/* form */