.body-container {
    background: #ffffff;
    color: #0B0B0B;
}

.info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
}


/* cores */

.background-cards {
    /* background-color: blue; */
}

/* fim das cores */

/* barra superior */

.barra-superior {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.barra-superior-desktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.barra-superior .botao {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#anchor-howto-mobile {
    display: none;
}

#anchor-categorias-mobile {
    display: none;
}

/* barra superior */

/* banner topo */

.banner-topo {
    margin: 50px;
    min-height: 300px;
    align-content: center;
}

.banner-topo span {
    display: flex;
    justify-content: center;
}

.banner-topo h1 {
    display: flex;
    justify-content: center;
}

.banner-topo p {
    display: flex;
    justify-content: center;
}

.banner-topo .inline {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/* banner topo */

/* cards */

.cards-section {
    width: 100%;
}

.inline.cards {
    display: flex;
    justify-content: space-around;
}

.cards {
    min-height: 100px;
}

.inner-cards {
    max-width: 120px;
}

/* cards */

/* how to */
.container-como-funciona {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-como-funciona h2 {
    display: flex;
    justify-content: center;
}

.container-como-funciona .inline {
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

.como-funciona {
    display: flex;
    min-height: 300px;
    width: 100%;
    align-items: center;
}

.number {
    display: flex;
    justify-content: center;
}

.cards-howto {
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

/* how to */

/* section */
section {
    max-width: 900px;
}

/* section */

/* versão mobile */
@media (max-width: 768px) {

    /* CSS aqui só roda em telas menores que 768px (celular/tablet) */

    .info-container {}

    .barra-superior {
        flex-direction: column;
    }

    .row.mobile-bar {
        display: flex;
        justify-content: space-around;
    }

    .banner-topo {
        margin: 25px;
    }

    #anchor-howto {
        display: none;
    }

    #anchor-categorias {
        display: none;
    }

    #anchor-howto-mobile {
        display: flex;
    }

    #anchor-categorias-mobile {
        display: flex;
    }
    
    .container-como-funciona .inline {
        display: flex;
        flex-direction: column;
    }
}

/* versão mobile */