<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>
    <div class="body-container">
        <div class="inline">
            <img src="" alt="imagem de logo do projeto">
            <h1>
                <a href="../index.html" id="logo">
                    FatecHub
                </a>
            </h1>
        </div>

        <h1>CADASTRE-SE</h1>
    </div>
</body>

</html>