<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FatecHub</title>
    <link rel="stylesheet" href="css/global_style.css">
    <link rel="stylesheet" href="css/login_style.css">
</head>

<body>
    <div class="body-container">

        <div class="inline">
            <img src="" alt="imagem de logo do projeto">
            <h1>
                <a href="../index.html" id="logo">
                    FatecHub
                </a>
            </h1>
        </div>

        <div class="form">
            <div class="card-form">
                <h2>Entrar na sua conta</h2>
                <span>Use seu e-mail para acessar</span>
                <form action="" method="post">

                    <div class="colunm">
                        <div class="colunm pad10t">
                            <label for="" class="pad5b">E-mail</label>
                            <input type="email" name="" id="" placeholder="email@gmail.com" />
                        </div>

                        <div class="colunm pad10t ">
                            <label class="pad5b" for="">Senha</label>
                            <input type="text" name="" id="" placeholder="Sua senha" />
                        </div>

                        <div class="pad10t">
                            <a href="#">
                                <span>esqueci a senha</span>
                            </a>
                        </div>

                        <div class="pad20t">
                            <input type="submit" value="Entrar" class="">
                        </div>
                    </div>
                </form>

                <div class="pad15t pad15b divider">ou</div>

                <div class="pad15b">
                    <span>
                        Google
                    </span>
                </div>

                <p class="cadatrar">
                    Ainda não tem conta? <a href="cadastro.html">Cadastre-se grátis</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>